{% extends "layout.njk" %}
{% block body %}
<form method="post" action="/register">
<input type="hidden" name="_csrf" value="{{ csrf }}"><input type="hidden" name="next" value="{{ next }}">
<div class="hp" aria-hidden="true"><label>网址 <input name="website" tabindex="-1" autocomplete="off"></label></div>
<table class="loginbox wide" cellpadding="6" cellspacing="0">
  <tr><td colspan="2" class="h">免费注册</td></tr>
  {% if err.length %}<tr><td colspan="2"><div class="err">{% for e in err %}{{ e }}{% if not loop.last %}<br>{% endif %}{% endfor %}</div></td></tr>{% endif %}
  <tr><td class="k">用户名：</td><td><input name="username" value="{{ form.username }}" maxlength="16" class="txt w170" autofocus> <span class="gray">2-16 位中文、字母、数字或下划线</span></td></tr>
  <tr><td class="k">密　码：</td><td><input type="password" name="password" maxlength="64" class="txt w170" autocomplete="new-password"> <span class="gray">6-64 位</span></td></tr>
  <tr><td class="k">确认密码：</td><td><input type="password" name="password2" maxlength="64" class="txt w170" autocomplete="new-password"></td></tr>
  <tr><td class="k">所在地：</td><td><input name="city" value="{{ form.city }}" maxlength="20" class="txt w170" placeholder="选填"></td></tr>
  <tr><td></td><td><label><input type="checkbox" name="agree" value="1" checked> 我已阅读并同意本站规则</label></td></tr>
  <tr><td></td><td><button type="submit" class="btn btn-big">注 册</button> &nbsp; 已有账号？<a href="/login">直接登录</a></td></tr>
</table>
</form>
{% endblock %}
