{% extends "user/panel.njk" %}
{% block panel %}
<div class="box red">
  <div class="box-hd">修改密码</div>
  <form method="post" action="/my/password" style="padding:8px">
    <input type="hidden" name="_csrf" value="{{ csrf }}">
    {% if error %}<div class="field-err" style="padding:4px 8px;background:#fee;border:1px solid #c99;margin-bottom:6px">✘ {{ error }}</div>{% endif %}
    <table class="ftable">
      <tr><th>当前密码：</th><td><input class="ipt w200" type="password" name="old_password" required maxlength="32" autocomplete="current-password"></td></tr>
      <tr><th>新密码：</th><td><input class="ipt w200" type="password" name="password" required minlength="6" maxlength="32" autocomplete="new-password"> <span class="tip">6-32 位</span></td></tr>
      <tr><th>确认新密码：</th><td><input class="ipt w200" type="password" name="password2" required minlength="6" maxlength="32" autocomplete="new-password"></td></tr>
      <tr><th></th><td><button class="btn" type="submit">修改密码</button> <span class="tip">修改后，其他电脑上的登录状态会失效</span></td></tr>
    </table>
  </form>
</div>
{% endblock %}
