{% extends "user/panel.njk" %}
{% from "macros.njk" import pager as pagerLinks %}
{% block head %}<link rel="stylesheet" href="/static/css/shop.css?v={{ assetVersion }}">{% endblock %}
{% block panel %}
<div class="box">
  <div class="box-hd"><span>▪ 我的订单</span><span class="nb">共 {{ pager.total }} 个</span></div>
  <div class="tabs">
    <a href="/my/orders"{% if not status %} class="on"{% endif %}>全部</a>
    {% for key, label in statusLabels %}<a href="/my/orders?status={{ key }}"{% if status == key %} class="on"{% endif %}>{{ label }}</a>{% endfor %}
  </div>
  <table class="tbl">
    <tr><th>订单号</th><th>商品</th><th>数量</th><th>金额</th><th>付款方式</th><th>状态</th><th>下单时间</th><th>操作</th></tr>
    {% for o in orders %}
    <tr>
      <td class="num"><a href="/my/orders/{{ o.order_no }}">{{ o.order_no }}</a></td>
      <td class="t"><div class="ellipsis">{% if o.product_id %}<a href="/shop/{{ o.product_id }}" title="{{ o.product_name }}">{{ o.product_name }}</a>{% else %}{{ o.product_name }}{% endif %}</div></td>
      <td class="num">{{ o.qty }}</td>
      <td class="num"><b class="red">¥{{ o.total_cents | yuan }}</b></td>
      <td class="nowrap">{{ paymentLabels[o.payment] }}</td>
      <td class="nowrap"><span class="status-{{ o.status }}">{{ statusLabels[o.status] }}</span></td>
      <td class="num gray" title="{{ o.created_at | dt }}">{{ o.created_at | date }}</td>
      <td class="nowrap"><a href="/my/orders/{{ o.order_no }}">[查看]</a>{% if o.status == 'pending' %} <a href="/my/orders/{{ o.order_no }}/cancel" data-post-link data-confirm="确定要取消这个订单吗？">[取消]</a>{% endif %}</td>
    </tr>
    {% else %}
    <tr><td colspan="8" class="box-empty">还没有订单，<a href="/shop">去逛逛</a>吧！</td></tr>
    {% endfor %}
  </table>
  {{ pagerLinks(pager) }}
</div>
{% endblock %}
