<div class="ft no-print">
  <div><a href="/page/about">关于我们</a> | <a href="/page/ads">广告服务</a> | <a href="/page/contact">联系站长</a> | <a href="/page/jobs">诚聘版主</a> | <a href="/page/disclaimer">免责声明</a> | <a href="/sitemap">网站地图</a> | <a href="/wap">手机版</a></div>
  <div>{{ site.footer_hint }} · 站长信箱：<a href="mailto:{{ site.webmaster_email }}">{{ site.webmaster_email }}</a></div>
  <div class="copy">Copyright © {{ site.copyright_year }} {{ site.site_name }}社区 版权所有{% if site.icp %} · <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener" style="color:#666">{{ site.icp }}</a>{% endif %}</div>
</div>
